.logo {
	width: 170px;
	height: auto;
}
.searchContainer {
	text-align: right;
	.search-input {
		border: none;
		border-bottom: 1px solid rgb(209, 209, 209);
		outline: none;
	}
	button {
		border: none;
		background: none;
		color: grey;
		cursor: pointer;
		&:hover {
			color: rgb(163, 163, 241);
		}
		&:active {
			outline: none !important;
			border: none !important;
		}
	}
}
.navbar {
	background-color: rgb(228, 228, 228);
	.nav-item {
		color: #fff !important;
		padding-top: 12px !important;
		padding-bottom: 15px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		margin: 0 20px !important;
		transition: 0.5s ease-in-out;
		background: #c957c0ff !important;
		clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
		&:nth-child(2) {
			background: #8c5bbdff !important;
		}
		&:nth-child(3) {
			background: #acdaffff !important;
		}
	}
}
.heightOne {
	height: 540px;
}
.images,
.outerText {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background: linear-gradient(rgb(187, 114, 114), black);
	border: 5px solid white;
}
.images img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.heightTwo {
	height: 270px;
}
.overlay {
	border: 5px solid white;
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.637));
}
.innerText {
	position: absolute;
	bottom: 20px;

	font-family: "Raleway", sans-serif;
	width: 70%;
	color: white;
	small {
		color: rgb(202, 202, 202);
		position: relative;
		bottom: 5px;
	}
}
